* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif}
header{
    
        
        background-image: url(../images/donation13.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        background-blend-mode: multiply;
        min-height: 80vh;
        position: relative;
}
.banner_center_content{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.banner_center_content h2{
    font-weight: 700px;
    font-size: 65px;
    color: #FFFFFF;
    padding-bottom: 20px;
   
}
.banner_center_content p{
    font-size: 18px;
    color: #FFFFFF;
    padding-bottom: 30px;
}
.btn_primary{
    border: none;
    padding: 16px 22px;
    background-color: #FF5959;
    border-radius: 12px;
    font-weight: 600;
    font-size: 20px;
    color: #FFFFFF;
}
.donate_today{
    text-align: center;
}
.section_title{
    text-align: center;
    margin-top: 130px;
    font-weight: 700px;
    font-size: 45px;
    color: 
    #121212;
}
.pragarap_title{
    text-align: center;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 50px;
    width: 691px;
    color: #707070
}
.amount_select{
    display: flex;
    justify-content: center;
}
.amount{
    margin-left: 22px;
}
.amount h3{
    padding: 44px 25px;
    width: 135px;
    background: #fafafa;
    margin: auto;
  color: #707070;
}
.amount h3:hover{
    background:   #ffeeee;
    border: 2px solid #ff5959;
    border-radius: 5px;
}
.other_amount{
    margin-top: 60px;
}
.other_amount p{
    margin-bottom: 10px;
    color:  #B3B3B3;
}
.other_amount span {
    display: block;
    margin: auto;
    width: 55%;
    border: 1px solid #dadada;
    margin-bottom: 30px;
}
.cards{
    display:flex;
    justify-content: center;
}
.card{
    padding: 54px 23px;
    margin-left: 24px;
}
.card img{
    margin-bottom: 30px;
}
.card h4{
    font-weight: 600px;
    font-size: 24px;
    margin-bottom: 16px;
}
.card p{
    width: 315px;
    color:  #707070;
}
